include include/header.pug
#home.container.text-center.text-white.headerset
    
    h2(style='color:Red') Welcome to our Page....
    h1(style='color:black') IT&apos;S NICE TO MEET YOU
    button.btn.btn-success.text-white.btn-lg SUBSCRIBE
    br
    br
    br
    brbr

include include/footer.pug 